* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #202124;
}

header {
    display: flex;
    padding: 0px 30px;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
}
header .right {
    display: flex;
    align-items: center;
}
header .logo-area img {
    width: 80px;
    margin-right: 30px;
}
header .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header input {
    border: 1px solid #303134;
    background-color: #303134;
    border-radius: 30px;
    width: 600px;
    padding: 10px 30px;
    margin: 20px;
    outline: none;
    
}

header input:hover {
    box-shadow: 3px 3px 10px #111;
}

header .search-options a,
header .search-options button {
    text-decoration: none;
    color: #5b6e7d;
    margin-right: 10px;
    font-size: 14px;
}

header .search-options button {
    background-color: transparent;
    border: none;
    margin-left: 40px;
    padding: 8px;
    margin-bottom: 2px;
    border-radius: 3px;
}

header .search-options button:hover {
    background-color: #303134;
    border: 0.5px solid #888
}

header .user-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .user-box img {
    border-radius: 50%;
    background-size: cover;
    width: 35px;
    height: 35px;
}

header .user-box a {
    margin-right: 20px;
    text-decoration: none;
    color: #5b6e7d;
}

hr {
    margin: 0px;
    border-color: #3c4043;
}

main .container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 12%;
}
main .search-item {
    margin-bottom: 30px;
}
main .search-count {
    color: #98a0a6;
    font-size: 13px;
    margin-bottom: 15px;
}
main a {
    text-decoration: none;
}
a .search-link {
    color: #8aa3aa;
    font-size: 13px;
    margin-bottom: 10px;
}

a .search-title {
    color: #77a7ef;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

a .search-title:hover {
    text-decoration: underline;
}

main .search-text {
    color: #bcc0c3;
    line-height: 22px;
}